<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Exception layout -->
  <variable name="excLayout" value="${exception:format=Type,Message,StackTrace:separator=&#13;&#10;}"/>

  <!-- Message layout -->
  <variable name="msgLayout" value="${longdate} [${level}] ${message} [${logger}]"/>

  <!-- Full layout (msgLayout + excLayout) -->
  <variable name="fullLayout" value="${msgLayout}  ${excLayout}" />

  <!-- Address for logViewer target -->
  <variable name="viewerAddress" value="tcp4://localhost:4505" />

  <!-- File name pattern -->
  <variable name="fileName" value="${basedir}logs/{shortdate}_PoiRestHost_log.txt" />

  <targets>

    <!-- Simple console target -->
    <target name="console" xsi:type="Console" layout="${fullLayout}" />

    <!-- Colored console target -->
    <target name="coloredConsole" xsi:type="ColoredConsole" layout="${fullLayout}"/>

    <!-- File layout -->
    <target name="file" xsi:type="File" layout="${fullLayout}" fileName="${fileName}" />

    <!-- LogViewer target (for log2console) -->
    <target name="logViewer" xsi:type="NLogViewer" address="${viewerAddress}">
      <parameter name="exception" layout="${excLayout}"/>
    </target>

    <target name="txtFile"
      xsi:type="File"
      fileName="logs\${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.log"
      layout="${fullLayout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="coloredConsole,txtFile" />
  </rules>

</nlog>
